*{
    margin:0 3px ;
    padding:0;
}
.top{
    background-color:black;
    color:white;
    height:61px;
}
.social{
    float:left;
    margin:20px;
}

.social li{
    display:inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    border:1px solid gray;
    border-radius:500px;
}
.social li a{
    color:white;
    display:block;
}
.contact{
    float:right;
    margin:17px;
}
#btn{
    margin-right:15px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px,5px,5px,5px;
    color:black;
    height: 25px;
    border-radius: 5px;
    background-color:#8DC63F;
    border: 1px solid #8DC63F ;
}
.contact li{
    display:inline-block;
    list-style: none;
    text-decoration: none;
    margin-right:10px;

}
/*--- top k bad ka--- */
header{
    background:whitesmoke;
    height:60px;
}
header img{
    width:100px;
    height:50px;
    margin:7px 0;
}
.logo{
    float:left;
    display:inline;
    padding-left:10px;
}
.menu {
    float: right;
}
.menu ul{
    margin:0;
    padding:0;
}
.menu ul li{
    list-style: none;
    color:white;
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border-bottom: 4px solid transparent;
    display:block;
    padding:17px 15px;
}

.menu ul li a:hover{
    border-bottom: 4px solid orange;
    

}
/* top k bad ka end------- */

/* ----- show case start---- */

.showcase{
    background:#8DC63F;
    height:320px;
}
.showcase .h{
    padding-top: 70px;
    padding-left: 350px;
}
.showcase .h h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 55px;
    color:white;
}
.showcase .p{
    padding-top: 2px;
    margin:0 auto;
}
.showcase .p p{
    margin:0 440px;
    text-align:center;
    font-size: 15px;
    color:white;
}

#lorem{
   width:410px;
   
}
.showcase .btn{
    padding-top: 25px;
    padding-left:25px;
}
.showcase a{
    list-style: none;
    text-decoration: none;
    color:black;
    margin: 560px;
    border:1px solid orange;
    text-transform: uppercase;
    background: orange;
    border-radius:9px;
    padding:6px;
    margin-right: 400px;
}
/* -- showcase end---- */
/* our advantages */

.our-advantages{
    background:white;
    height:400px;
    border: 1px solid #b3b0aa;
}
.our-advantages .our-adv-head{
    text-align: center;
}
.our-adv-head h1{
    /* padding-right:90px; */
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
}
.our-adv-head p{
    padding-left:410px;
    text-align:center;
    color:gray;
    
}
#adv-para{
    width:350px;
}
.advimg{
    display:table-cell;
    margin-top: 20px;
    height:200px;
    width:300px;
    margin-top: 50px;
    
    text-align: center;
}
.advimg p{
    color:gray;
}
.advimg h5{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

/* -----about-us------ */
.ab-bg{
    background:url(../assighnment16nov/images/about_us.png);
    background-size:cover;
    width:100%;
    background-repeat: no-repeat;
    background-position:center;
}
.about-us{
    height:380px;
    margin:10px;
}
.section{
    /* margin:10px; */
    background-color: #f3f3f3d9;
}
.section h1{
    text-align: center;
    padding-top: 15px;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;

}
.section h1 span{
    color:#8DC63F;
}
.section p{
    margin-right: 700px;
    color: black;
    height: 250px;

}
.button{
    margin-top:1px;
    padding-left:25px;
    padding-bottom:18px;
}
.button #btn{
    margin-bottom:40px;
    padding:5px;
    margin-left:10px;
    border-radius: 100px;
    color:black;
    background-color: orange;
    outline:none;
    text-transform: uppercase;
}

/* ----about-us End----- */

/* -----our services start---- */

.our-services{
    height:350px;
    background:white;
}
.our-services h1{
    text-align: center;
    padding-top: 30px;
    padding-right:8px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
}
 h1 span{
    color:#8DC63F;
}
.para p{
    margin:0 440px;
    text-align: left;
    font-weight: bold;
    color:gray;
    width: 390px;
    padding-left:60px;
}

.container{
    display: inline-block;
    width:100%;
    margin:10px;
}
.container .colum{
    border: 1px solid #15121214;
    display:inline-block;
    width:22%;
    height:150px;
    margin:5px;
    padding:3px;
    margin-right:15px;
    margin-left:10px;
    background-color: #d3d3d380;
    border-radius: 20px;
}
.container h1{
    
    font-size:14px;
    font-weight: bold;
}
.container p{
    font-size:14px;
    padding-top: 5px;
    padding-left:10px;
    text-align: center;
    color:gray;
}
#btn3{
    padding-top:5px;
    margin:5px;
    padding-left:70px;
}



#button{
    border:none;
    color: #4c7711d6;
    /* background-color:#8DC63F; */
    padding:5px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-left: 30px;
}

/* ------- our service end----- */

/* ----portofolio--- */

.portofolio{
    height:450px;
    background:black;
    color:white;
    text-align: center;
    width:100%;
}
.portofolio h1{
    text-align: center;
    padding-top: 30px;
    padding-right:8px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
}
.portofolio p{
    margin:0 400px;
    text-align: left;
    font-weight: bold;
    width:550px;
}
.portofolio span{
    color:#8DC63F;
}

.portofolio li{
    list-style: none;
    text-decoration: none;
    padding:5px;
    display: inline-block;
    font-weight: bold;
    padding-right:10px;
}
.portofolio li a{
    color:white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.portofolio li a:hover{
    color:orange;
}
.portofolio li #color{
     color:orange;
}

.logos-img{
    display:inline;
}

.logos-img img{
    width:200px;
    height:150px;
}